.App {
  text-align: center;
}

button{
  border:none;
  outline: none;
  padding: 2vw 4vw;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}
input{
  background-color: rgb(200, 201, 202);
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  /* color:white */
}
